@import "./styles/barlow.css";
@import "./styles/radial-gradient.css";
@import "./styles/app-bar.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Barlow", sans-serif;
  line-height: 1.6;
}

a {
  color: inherit;
  text-decoration: none;
}


@tailwind base;

@layer base {
  html {
    @apply text-neutral-800;
  }

  html.dark {
    @apply text-neutral-50;
    @apply bg-neutral-800;
  }
}

@tailwind components;
@tailwind utilities;